:root {
    --color-background-action-primary-default: #5651bd;
    --color-background-action-primary-interactive: #aba8de;
    --color-background-action-primary-active: #2c26ac;
    --color-background-action-primary-loading: #6b67c5;
    --color-background-action-secondary-default: #d5d4ee;
    --color-background-action-secondary-interactive: #eae9f6;
    --color-background-action-secondary-active: #aba8de;
    --color-background-action-tertiary-default: #6b67c5;
    --color-background-action-tertiary-interactive: #d5d4ee;
    --color-background-action-tertiary-active: #5651bd;
    --color-background-action-ghost-hover: #eae9f6;
    --color-background-default: #ffffff;
    --color-background-surface: #fefefe;
    --color-background-inverse: #18162f;
    --color-background-disabled: #e5e5ed;
    --color-background-page: #eeedf5;
    --color-background-overlay: rgba(45, 44, 54, 0.6);
    --color-background-neutral-50: #fefefe;
    --color-background-neutral-100: #eeedf5;
    --color-background-neutral-200: #e5e5ed;
    --color-background-neutral-300: #bab8c6;
    --color-background-neutral-400: #a6a5b5;
    --color-background-neutral-500: #9290a3;
    --color-background-neutral-600: #747289;
    --color-background-neutral-700: #605f76;
    --color-background-neutral-750: #524f6a;
    --color-background-neutral-800: #4c4a64;
    --color-background-neutral-875: #363451;
    --color-background-neutral-900: #18162f;
    --color-background-primary-50: #f5f4fb;
    --color-background-primary-100: #eae9f6;
    --color-background-primary-200: #d5d4ee;
    --color-background-primary-700: #5651bd;
    --color-background-primary-800: #2c26ac;
    --color-border-action-primary-focus: #2c26ac;
    --color-border-action-secondary-default: #2c26ac;
    --color-border-action-tertiary-default: #2c26ac;
    --color-border-default: #524f6a;
    --color-border-subtle: #a6a5b5;
    --color-border-strong: #18162f;
    --color-border-disabled: #9290a3;
    --color-border-input-default: #524f6a;
    --color-border-input-interactive: #5651bd;
    --color-border-input-active: #413cb4;
    --color-border-input-disabled: #a6a5b5;
    --color-border-focus-primary: #5651bd;
    --color-border-focus-secondary: #3391df;
    --color-text-action-primary-default: #fefefe;
    --color-text-action-primary-interactive: #2c26ac;
    --color-text-action-secondary: #28229b;
    --color-text-action-tertiary-default: #fefefe;
    --color-text-action-ghost-default: #2c26ac;
    --color-text-action-ghost-active: #231e8a;
    --color-text-primary: #18162f;
    --color-text-secondary: #2c26ac;
    --color-text-tertiary: #4c4a64;
    --color-text-disabled: #605f76;
    --color-text-on-color: #fefefe;
    --color-text-link: #0076d7;
    --color-text-link-visited: #005397;
    --color-icon-primary: #18162f;
    --color-icon-secondary: #2c26ac;
    --color-icon-tertiary: #605f76;
    --color-icon-on-color: #fefefe;
    --color-icon-disabled: #747289;
    --color-status-success-default: #2b7e4d;
    --color-status-success-background: #ebfaef;
    --color-status-error-default: #ca4343;
    --color-status-error-background: #f4d9d9;
    --color-status-warning-background: #fff1d2;
    --color-status-warning-900: #cc9417;
    --color-status-info-default: #0076d7;
    --color-status-info-background: #cce4f7;
    --spacing-none: 0rem;
    --spacing-3xs: 0.25rem;
    --spacing-2xs: 0.5rem;
    --spacing-xs: 0.75rem;
    --spacing-s: 1rem;
    --spacing-m: 1.5rem;
    --spacing-l: 2rem;
    --spacing-xl: 3rem;
    --spacing-2xl: 4rem;
    --spacing-3xl: 6rem;
    --fontSize-xs: 0.625rem;
    --fontSize-s: 0.75rem;
    --fontSize-m: 1rem;
    --fontSize-l: 1.125rem;
    --fontSize-xl: 1.25rem;
    --fontSize-2xl: 1.5rem;
    --fontSize-3xl: 1.875rem;
    --border-radius-none: 0px;
    --border-radius-xs: 4px;
    --border-radius-s: 6px;
    --border-radius-m: 8px;
    --border-radius-l: 12px;
    --border-radius-xl: 16px;
    --border-radius-full: 9999px;
    --border-width-s: 1px;
    --border-width-m: 1.5px;
    --border-width-l: 2px;
    --dialog-size-s: 400px;
    --dialog-size-m: 524px;
    --dialog-size-l: 720px;
    --elevation-highest: 0px 4px 40px 0px rgba(23, 17, 105, 0.4);
    --elevation-high: 0px 4px 20px 0px rgba(23, 17, 105, 0.25);
    --elevation-mid: 0px 4px 15px 0px rgba(23, 17, 105, 0.15);
    --elevation-low: 0px 4px 4px 0px rgba(23, 17, 105, 0.1);
    --typography-heading1-fontSize: clamp(1.53rem, calc(1.14rem + 1.93vw), 4.23rem);
    --typography-heading1-lineHeight: 1.35;
    --typography-heading2-fontSize: clamp(1.33rem, calc(1.08rem + 1.24vw), 3.07rem);
    --typography-heading3-fontSize: clamp(1.16rem, calc(1rem + 0.76vw), 2.22rem);
    --typography-heading4-fontSize: clamp(1.01rem, calc(0.92rem + 0.43vw), 1.61rem);
    --typography-heading5-fontSize: clamp(0.88rem, calc(0.83rem + 0.21vw), 1.17rem);
    --typography-body-fontSize: clamp(0.88rem, calc(0.83rem + 0.21vw), 1.17rem);
    --typography-body-lineHeight: 1.5;
    --typography-bodySmall-fontSize: clamp(0.76rem, calc(0.75rem + 0.06vw), 0.85rem);
    --typography-bodySmall-lineHeight: 1.43;
    --typography-button-fontSize: clamp(0.76rem, calc(0.75rem + 0.06vw), 0.85rem);
    --typography-button-lineHeight: 1.14;
    --typography-button-letterSpacing: 0.5px;
    --typography-label-fontSize: clamp(0.88rem, calc(0.83rem + 0.21vw), 1.17rem);
    --typography-label-lineHeight: 1.5;
    --typography-label-letterSpacing: 0.5px;
    --typography-caption-fontSize: clamp(0.61rem, calc(0.67rem - 0.04vw), 0.66rem);
    --motion-duration-fast: 0.1s;
    --motion-duration-normal: 0.15s;
    --motion-duration-slow: 0.25s;
    --motion-easing-ease: ease;
    --motion-easing-easeOut: ease-out;
}
